{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Login' %}{% endblock %}

{% block main-content-header %}{% translate 'Login' %}{% endblock %}

{% block main-content-body %}

    <div class="container">

        <form class="row" action="{% url 'authentication:login' %}" method="post">
            {% csrf_token %}

            <div class="col-6">
                <div class="col mb-3">
                    <label for="{{ form.login.id_for_label }}" class="form-label">{% translate 'Username' %}</label>
                    {{ form.login }}
                    {{ form.login.errors }}
                </div>

                <div class="col mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">{% translate 'Password' %}</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>

                <div class="col mb-3">
                    {{ form.remember }}
                    <label class="form-check-label"
                           for="{{ form.remember.id_for_label }}">{% translate 'Remember Me' %}</label>
                </div>

                {% if redirect_field_value %}
                    <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}"/>
                {% endif %}

                <p><input type="submit" class="btn btn-primary" value="{% translate 'Login' %}"></p>
            </div>
        </form>
    </div>

{% endblock %}