{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Register' %}{% endblock %}

{% block main-content-header %}{% translate 'Register' %}{% endblock %}

{% block main-content-body %}
    <div class="container">

        <form class="row" method="post" action="{% url 'snippet:register' %}">
            <div class="col-6">
                {% csrf_token %}

                <div class="form-validation-error">
                    <p>{{ form.non_field_errors }}</p>
                </div>

                <div class="col mb-3">
                    <label for="{{ form.username.id_for_label }}">{% translate 'Username' %}</label>
                    {{ form.username }}
                    <div class="form-validation-error">
                        {{ form.username.errors }}
                    </div>
                </div>

                <div class="col mb-3">
                    <label for="{{ form.email.id_for_label }}">{% translate 'Email' %}</label>
                    {{ form.email }}
                    <div class="form-validation-error">
                        {{ form.email.errors }}
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <label for="{{ form.password1.id_for_label }}">{% translate 'Password' %}</label>
                    {{ form.password1 }}
                    <div class="form-validation-error">
                        {{ form.password1.errors }}
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <label for="{{ form.password2.id_for_label }}">{% translate 'Confirm password' %}</label>
                    {{ form.password2 }}
                    <div class="form-validation-error">
                        {{ form.password2.errors }}
                    </div>
                </div>

                <div class="col-9 mb-3">
                    <label for="{{ form.captcha.id_for_label }}" class="form-label">{% translate 'Captcha' %}</label>
                    {{ form.captcha }}
                    {{ form.captcha.errors }}
                </div>

                <button type="submit" class="btn btn-primary">{% trans 'Register' %} &raquo;</button>
            </div>
        </form>
    </div>
{% endblock %}