{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Password Reset Confirm' %}{% endblock %}

{% block main-content-header %}{% translate 'Password Reset Confirm' %}{% endblock %}

{% block main-content-body %}

    <div class="container">

        <form class="row" method="post">

            <div class="col-6">
                {% csrf_token %}

                <div class="col mb-3">
                    <label for="{{ form.new_password1.id_for_label }}">{% translate 'New password' %}</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>

                <div class="col mb-3">
                    <label for="{{ form.new_password2.id_for_label }}">{% translate 'Confirm password' %}</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                <p><input type="submit" class="btn btn-primary" value="{% translate 'Confirm' %}"></p>
            </div>
        </form>
    </div>

{% endblock %}