{% extends 'snippet/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Login' %}{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">{% translate 'Login' %}</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form method="post" action="{% url 'snippet:login' %}">

                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="{% translate 'Login' %}"></p>

                <input name="redirect_to" type="hidden" value="{{ redirect_to }}"/>
            </form>

        </div>
    </div>

{% endblock %}