{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}Login{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Login</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form method="post" action="{% url 'snippet:login' %}">

                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="Login"></p>

                <input type="hidden" value="{{ next }}"/>
            </form>

        </div>
    </div>

{% endblock %}