{% extends 'snippet/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Profile' %}{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">{% translate 'Profile' %}</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <p>{% translate 'Username' %}: {{ request.user.username }}</p>
            <p>{% translate 'Email' %}: {{ request.user.email }}</p>
        </div>
    </div>

{% endblock %}