{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}Password Reset{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Password Reset</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form method="post" action="{% url 'snippet:password_reset' %}">

                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="Reset"></p>
            </form>

        </div>
    </div>

{% endblock %}