{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}Password Reset Confirm{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Password Reset Confirm</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <p>Is the link valid? - {{ validlink }}</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Change"></p>
            </form>


        </div>
    </div>

{% endblock %}