{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}About{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Creative people driven by pasion.
        <br> We develop the best strategies and products
    </h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <div class="col-sm-6">
                <h2>Similique sunt in culpa</h2>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi est laborum et dolorum
                    fuga.</p>
            </div>
            <div class="col-sm-6">
                <h2>Tempore soluta nobis eligendi</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                    maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
                    voluptates repudiandae sint et molestiae.</p>
            </div>

        </div>
    </div>

{% endblock %}