{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>{% block page-title %}Title{% endblock %}</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="{% static 'theme/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static 'theme/style.css' %}">

    <!--[if lt IE 9]>
		<script src="{% static 'theme/js/ie-support/html5.js' %}"></script>
		<script src="{% static 'theme/js/ie-support/respond.js' %}"></script>
		<![endif]-->

    <link href="{% static 'prism/prism-all.css' %}" rel="stylesheet"/>

</head>

<body>

<div class="site-content">

    <!-- .site-header -->
    {% include 'snippet/inc/_header.html' %}

    <main class="main-content">

        <div class="page-head">
            <div class="container">
                <h1 class="page-title">
                    {% block main-content-header %}
                        <p>Page Header</p>
                    {% endblock %}
                </h1>
            </div>
        </div>

        {#    show messages    #}
        <div class="container">
            {% if messages %}
                <br>
                {% for message in messages %}
                    {% if message.tag == 'error' %}
                        <p style="color: red">{{ message }}</p>
                    {% else %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        {% block main-content-body %}
            <div class="fullwidth-block">
                <div class="container">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi est laborum et dolorum
                        fuga.</p>

                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                        maxime
                        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                        quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                        repudiandae sint et molestiae.</p>
                </div>
            </div>
        {% endblock %}

    </main> <!-- .main-content -->

    <!-- .site-footer -->
    {% include 'snippet/inc/_footer.html' %}

</div> <!-- .main-content -->

<script src="{% static 'theme/js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="{% static 'theme/js/plugins.js' %}"></script>
<script src="{% static 'theme/js/app.js' %}"></script>

<script src="{% static 'prism/prism-all.js' %}"></script>

</body>

</html>