{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}Logout{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Login</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <p>Login here...</p>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

{% endblock %}