{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}Register{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Register</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <p>Register here...</p>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="Register"/></p>
            </form>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

{% endblock %}