{% extends 'snippet/base.html' %}

{% block page-title %}Home{% endblock %}

{% block main-content-header %}
    <h1>Snippet</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <h1>{{ snippet.title }}</h1>
            <p><a href="{{ snippet.get_edit_url }}">Edit</a> • <a href="{{ snippet.get_delete_url }}">Delete</a></p>

            <p>{{ snippet.content }}</p>
            <p>By {{ snippet.author.username }}</p>
        </div>
    </div>

{% endblock %}