{% load static %}
{% load i18n %}

<header>
    <nav id="top-navigation-bar" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            {# Logo #}
            <a class="navbar-brand" href="{% url 'snippet:home' %}">Coderators</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {# navigation links #}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'snippet:show_categories' %}">{% translate 'Categories' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'snippet:show_tags' %}">{% translate 'Tags' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'snippet:feedback' %}">{% translate 'Feedback' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'snippet:language' %}">{% translate 'Language' %}</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'snippet:add_snippet' %}">{% translate 'Add Snippet' %}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'snippet:about' %}">{% translate 'About' %}</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">{% translate 'Profile' %}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'snippet:view_user' %}">{% translate 'Profile' %}</a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'snippet:password_change' %}">{% translate 'Change Password' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'snippet:password_reset' %}">{% translate 'Reset Password' %}</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'snippet:logout' %}">{% translate 'Logout' %}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">{% translate 'Login' %}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'snippet:login' %}">{% translate 'Login' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'snippet:register' %}">{% translate 'Register' %}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                {# Search block #}
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light " type="submit">{% translate 'Search' %}</button>
                </form>
            </div>
        </div>
    </nav>
</header>
