{% extends 'snippet/base.html' %}

{% block page-title %}Snippets{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Snippets</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <h1>Snippets by category</h1>

            <ul>
                {% for snippet in snippets %}
                    <li><a href="{{ snippet.get_absolute_url }}">{{ snippet }}</a></li>
                {% empty %}
                    <h2>You have no snippets yet...</h2>
                {% endfor %}
            </ul>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
    </div>

{% endblock %}