{% extends 'snippet/base.html' %}
{% load i18n %}

{% block page-title %}{% translate 'Snippets' %}{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">{% translate 'Snippets' %}</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <h1>
                {# todo zavanton - find a way so that dynamicly created 'category' and 'tag #}
                {# is not erazed from django.po on makemessages #}

                {# we need static declaration, so that they are not erazed in .po file #}
                {% translate 'category' as category %}
                {% translate 'tag' as tag %}

                {% translate taxonomy_type as translated_taxonomy_type %}
                {% blocktranslate trimmed %}
                    Snippets by {{ translated_taxonomy_type }}: {{ taxonomy_name }}
                {% endblocktranslate %}
            </h1>

            <ul>
                {% for snippet in snippets %}
                    <li><a href="{{ snippet.get_absolute_url }}">{{ snippet }}</a></li>
                {% empty %}
                    <h2>{% translate 'You have no snippets yet...' %}</h2>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}