{% extends 'core/base_without_header.html' %}
{% load i18n %}

{% block page-title %}{% translate 'Home' %}{% endblock %}

{% block main-content-body %}
    <div class="container mt-5">
        {% if request.user.is_authenticated %}
            <h1>{% translate 'Snippets by' %} {{ request.user }}</h1>
        {% else %}
            <h1>{% translate 'Snippets by all users' %}</h1>
        {% endif %}

        {% for snippet in snippets %}
            <p><a href="{{ snippet.get_absolute_url }}">{{ snippet }}</a></p>
        {% empty %}
            <h2>{% translate 'You have no snippets yet...' %}</h2>
        {% endfor %}
    </div>
{% endblock %}