{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Add Snippet' %}{% endblock %}

{% block main-content-header %}
    {% translate 'Add Snippet' %}
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="{% translate 'Publish' %}"></p>
            </form>
        </div>
    </div>

{% endblock %}