{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head-elements %}
    <style>
        #choose-language-form ul {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block page-title %}{% translate 'Choose Language' %}{% endblock %}

{% block main-content-header %}{% translate 'Choose Language' %}{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form id="choose-language-form" action="{% url 'snippet:language' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" class="btn btn-primary" value="{% translate 'Confirm' %}"></p>
            </form>
        </div>
    </div>

{% endblock %}