{% extends 'core/base.html' %}
{% load i18n %}

{% block page-title %}{% translate 'Contact Form' %}{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">{% translate 'Contact Form' %}</h1>
{% endblock %}

{% block main-content-body %}
    <div class="fullwidth-block">
        <div class="container">

            <form method="post" action="{% url 'snippet:feedback' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% translate 'Send' %}"/>
            </form>
        </div>
    </div>
{% endblock %}