{% extends 'core/base.html' %}
{% load i18n %}

{% block page-title %}{% translate 'Contact Form' %}{% endblock %}

{% block main-content-header %}{% translate 'Contact Form' %}{% endblock %}

{% block main-content-body %}
    <div class="container">
        <form method="post" action="{% url 'snippet:feedback' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="{% translate 'Send' %}"/>
        </form>
    </div>
{% endblock %}