{% extends 'snippet/base.html' %}
{% load static %}

{% block page-title %}Create Tag{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">Create Tag</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="Create"></p>
            </form>
        </div>
    </div>

{% endblock %}