{% extends 'snippet/base.html' %}
{% load static %}
{% load i18n %}

{% block page-title %}{% translate 'Add Tag' %}{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">{% translate 'Add Tag' %}</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="{% translate 'Create' %}"></p>
            </form>
        </div>
    </div>

{% endblock %}