{% extends 'core/base.html' %}
{% load i18n %}

{% block page-title %}{% translate 'All Tags' %}{% endblock %}

{% block main-content-header %}
    <h1 class="page-title">{% translate 'All Tags' %}</h1>
{% endblock %}

{% block main-content-body %}

    <div class="fullwidth-block">
        <div class="container">

            <h1>{% translate 'All Tags' %}</h1>

            <h3><a href="{% url 'snippet:add_tag' %}">{% translate 'Create New Tag' %}</a></h3>

            <ul>
                {% for tag in tags %}
                    <li>
                        <p><a href="{{ tag.get_snippets_url }}">{{ tag }}</a></p>
                        <p>
                            (
                            <a href="{{ tag.get_update_url }}">{% translate 'edit' %}</a>
                            •
                            <a href="{{ tag.get_delete_url }}">{% translate 'delete' %}</a>
                            )
                        </p>
                    </li>
                {% empty %}
                    <h2>{% translate 'No tag has been created yet...' %}</h2>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}